NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fire-united.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fire-united
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fire-united.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=643603449722
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id
